<!DOCTYPE html>
<html ng-app="BarStucks">
  <head>
    <title>Express app</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <base href="/" />
  </head>
  <body>
    
    <h1> Barstucks </h1>
    <ui-view></ui-view>

    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="app.js"></script>
    <script src="controllers.js"></script>

  </body>
</html>
